<!-- <mat-card style="font-size: 3em">Pritam Rajput</mat-card>
<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Work Experience
          </mat-panel-title>
        
        </mat-expansion-panel-header>
        <p> 
            Working on Software Design, Optimization, Angular, PostgreSQL(Analytics) and Spring...
        </p>
      </mat-expansion-panel>
</mat-accordion> -->


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" style="font-size: 6vh;" href="#">Pritam Rajput</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>

</nav>

<nav class="navbar navbar-dark bg-dark mt-5 fixed-bottom">
  <div class="navbar-expand m-auto navbar-text">
    Made with <i class="fa fa-heart"></i> by <a href="https://www.linkedin.com/in/pritrajp/">Pritam</a>
  </div>
</nav>
<router-outlet></router-outlet>


