.fa-heart {
    color: hotpink;
}
.section-left{
    display: block;
    float: left;
    width: 30%;
    padding: 60px 60px 60px 60px;
}
.section-right{
    display: block;
    float: right;
    width: 60%;
}
.user-name{
    color: #9099a0;
}