<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> -->

<!-- <a class="navbar-brand navbar-text color-p" style="font-size: 6vh;">Pritam Rajput</a> -->
<div class="my-font">
  <section class="section-left">
    <img src="{{image}}" class="image-profile">
    <span class="user-name">
      <h1>PRITAM <br />RAJPUT</h1>
    </span>

    <div class="user-details">
      <table>
        <tr>
          <td>
              <i class="fa fa-phone"></i>
            
          </td>
          <td>+91 9404574200</td>
        </tr>
      </table>
      <span>
        
      </span>
      <!-- <span></span> -->
    </div>


  </section>
  <section class="section-right">
    Section 2
  </section>

</div>
<!-- </nav> -->

<nav class="navbar navbar-dark bg-dark mt-5 fixed-bottom">
  <div class="navbar-expand navbar-text">
  </div>

  <span>
    <a class="btn btn-link badge badge-primary" target="blank" href="https://www.linkedin.com/in/pritrajp/">LinkedIn</a>
    &nbsp;
    <a class="btn btn-link badge badge-primary" target="blank" href="https://github.com/Pritraj">Github</a>
  </span>
</nav>
<router-outlet></router-outlet>