/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
.color-p {
    color: cornflowerblue !important;
}

.my-font {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}

.image-profile {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
    object-fit: cover;
    object-position: center right;
}

.name-wrapper {
    float: left;
    width: 60%;
}